[submodule "external/catppuccin-kitty"]
	path = external/catppuccin-kitty
	url = https://github.com/catppuccin/kitty.git
[submodule "external/catppuccin-waybar"]
	path = external/catppuccin-waybar
	url = https://github.com/catppuccin/waybar.git
[submodule "external/catppuccin-hyprland"]
	path = external/catppuccin-hyprland
	url = https://github.com/catppuccin/hyprland.git
[submodule "external/catppuccin-swaync"]
	path = external/catppuccin-swaync
	url = https://github.com/catppuccin/swaync.git
[submodule "external/catppuccin-btop"]
	path = external/catppuccin-btop
	url = https://github.com/catppuccin/btop.git
