*.swp
.DS_Store
.svn
vim/.netrwhist
.config/kitty/themes/ # if you copied themes directly
.config/waybar/themes/ # if you copied themes directly
.config/hyprland/themes/ # if you copied themes directly
